body{
  background-color: #FCF8E8;
}
.form-control mr-sm-2{
  margin-left: auto;
}
.form-inline{
  margin-right: 0px;
}
#intro{
  padding: 2rem 5rem;
}
#footer-contact-us{
  background-color: #444444;
}
#footer-left{
  text-align: left;
  padding-left: 3rem;
}
#footer-right{
  text-align: right;
  padding-right: 3rem;
  padding-top: 2em;
}
#intro{
  margin-bottom: auto;
}
#footer-contact-us{
  position:absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
